.con {
    background-color: rgb(241, 107, 107);
    height: auto;
    width: 100vw;
    background-size: cover
}

.profoile {
    margin-top: 30px;
    text-align: center;
}


.pr {
    text-align: center;
}

.car {
    margin-top: 30px;
}

.add {
    margin-top: 30px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: rgb(19, 19, 72);;
    border-radius: 50%;
    
    display: inline-block;
}